<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center mb-2">
        <img class="mb-2" src="{{ SITEURL }}/theme/images/poder-judicial.png" alt="PJECZ" />
        <small class="d-block mb-3 text-body-secondary">Derechos Reservados &copy; 2024</small>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>Plataformas</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/plataformas/plataforma-web">Plataforma Web</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/plataformas/notarias">Portal de Notarías</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/plataformas/pagos">Portal de Pagos</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/plataformas/citas">Sistema de Citas</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>APIs</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/datos">Datos Abiertos</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <h5>Legales</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/privacy_policy">Aviso de Privacidad</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/licencias/agpl3">Licencia AGPL V3</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ SITEURL }}/service_terms">Políticas de Uso</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
